body{
 
    font-family:"Roboto";
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    -webkit-font-smoothing: antialiased;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}

font-face{
  font-family:crude;
  src: url(fonts/Crude.otf);
}
*{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.heroImg{
  max-width: 300px;
  max-height: 300px;
  position:sticky;
  top:20vh;
}
.blob {
  position:fixed;
  border-radius: 99px;
  filter: blur(60px);
  opacity: 0.6;
  animation: float 11s infinite ease-in-out alternate;
}
.pink  { background: #dad2d2; top: 0%; left: 5%; width: 400px; height: 400px; }
.teal   { background: #c6dbd6; top: 40%; left: 50%; width: 350px; height: 350px; }
.brown  { background: #a0b5f7; top: 10%; left: 0%; width: 280px; height: 280px; }
.purple { background: #b0a8c1; top: 20%; left: 50%; width: 320px; height: 320px; }
.green  { background: #b9d1bd; bottom: 0%; left: 0%; width: 300px; height: 300px; }
.orange { background: #d4c6b3; top: 80%; left: 40%; width: 350px; height: 350px; }

.Hero-name {
  background-color:black;
  position:absolute;
  background-clip:text;
  -webkit-text-fill-color: transparent;
}

.container{
  height:300vh;
  position:relative;

  .sticky{
    padding:calc(max(3vh, 30px));
    position:sticky;
    top:0px;
    height: 100vh;
    width:100vw;
    background-color:rgb(7, 5, 5);
  }

}
#gallery{
  height:150vmax;
  width:150vmax;
  position:absolute;
}
.tile{
  border-radius:1vmax;
  position:absolute;
  transition:transform 800ms ease;
}
.tile:hover{
  transform:  scale(1.05);
}

.tile:hover > img{
  opacity:1;
  transform: scale(1.01);

}
.tile > img{
  height:100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity:0;
  transition: opacity 800ms ease;
}


.tile:nth-child(1) {
  background-color: rgb(19, 66, 135);
  height: 14%;
  width: 20%;
  left: 5%;
  top: 5%;
}

.tile:nth-child(2) {
  background-color: rgb(127, 177, 129);
  max-block-size: 200px;
  height: 24%;
  width: 20%;
  left: 42%;
  top: 12%;
}

.tile:nth-child(3) {
  background-color: rgb(127, 209, 179);
  max-block-size: 200px;
  height: 20vmin;
  width: 30vmin;
  left: 12%;
  top: 34%;
}

.tile:nth-child(4) {
  background-color: rgb(102, 187, 106);
  max-block-size: 200px;
  height: 20vmin;
  width: 30vmin;
  left: 45%;
  top: 48%;
}

.tile:nth-child(5) {
  background-color: rgb(221, 230, 50);
  max-block-size: 200px;
  height: 20vmin;
  width: 30vmin;
  left: 8%;
  top: 70%;
}

.tile:nth-child(6) {
  background-color: rgb(205, 145, 211);
  max-block-size: 200px;
  height: 20vmin;
  width: 30vmin;
  left: 68%;
  top: 8%;
}

.tile:nth-child(7) {
  background-color: rgb(240, 139, 62);
  max-block-size: 200px;
  height: 20vmin;
  width: 30vmin;
  left: 50%;
  top: 74%;
}

.tile:nth-child(8) {
  background: #3f3e3e;
  max-block-size: 200px;
  height: 20vmin;
  width: 30vmin;
  left: 72%;
  top: 42%;
}

.tile:nth-child(9) {
  background: cyan;
  max-block-size: 200px;
  height: 20%;
  width: 40vmin;
  left: 64%;
  top: 84%;
}
.tile:nth-child(10) {
  background: cyan;
  max-block-size: 200px;
  height: 20%;
  width: 30%;
  left: 0%;
  top: 104%;
}


@keyframes float {
  0%   { transform: translate(0,0); }
  25% { transform: translate(0px, -120px ) scale(2) rotate(160deg); }
  50% { transform: translate(300px, -0px ) scale(2) rotate(-160deg); }
  100% { transform: translate(-200px, 0px ) scale(2); }
}



.nav-button[text]:hover{
  animation: rolling 1s ease-in-out;
}
@keyframes rolling{
  0%{ transform: translate(0,0); }
  100%{rotate: (120deg);}
}

